@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}
.scrollable::-webkit-scrollbar {
    display: none; /* Untuk browser berbasis WebKit seperti Chrome, Safari */
  }
  
  .scrollable {
    -ms-overflow-style: none;  /* Untuk Internet Explorer dan Edge lama */
    scrollbar-width: none;     /* Untuk Firefox */
  }
  